



<br>
<div class="card text-center" style="width: 100%; border: grey 1px solid;padding: 1rem; ">
  <div class="card-body">
    <h5 class="card-title" style="border-bottom: grey 1px solid; padding-bottom: 1rem" >New Booking</h5>
    <p class="card-text">
      <%= render "form", booking: @booking  %>
    </p>
  </div>
</div>