




<div class="card text-center" style="border: grey 1px solid; padding: 1rem;">
  <div class="card-body">
    <div class="card-title" style="border-bottom: grey 1px solid; padding-bottom: 1rem" ><h5>BOOK A TABLE</h5>
    Please be on the selected time slot for a happy dining
    </div>
    <p class="card-text" style="margin-top:2rem">
      <%= render "form", booking: @booking  %>
    </p>
  </div>
</div>