<nav class="navbar  bg-warning justify-content-center" >
  <div class="container-fluid">
   every day 8:00 am - 8:00 pm

  <span class="text-center"> @abc 14th floor, Gar inforban, tower-1, kokapet </span>

  <span>follow us <br>
    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook" style="color: black"></i></a> |
    <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"  style="color: black"></i></a> |
    <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"  style="color: black"></i></a>
  </span>
  
  </div>
</nav>
<nav class="navbar  bg-secondary justify-content-center" style="border-top: 1px white solid" >
  <div style="margin-left: 4rem; font-size: 12px; color: white">ABC 2022 MULTI-CUISINE RESTAURANT</div>
</nav>



