<nav class="navbar  bg-warning" >
  <div class="container-fluid">
   every day <br>
   8:00 am - 8:00 pm

  <p class="text-center"> @abc 14th floor, Gar inforban, tower-1, kokapet </p>

  <p class="text-center">follow us <br>
   <i class="fa-brands fa-facebook"></i> |
   <i class="fa-brands fa-instagram"></i> |
   <i class="fa-brands fa-twitter"></i>
  </p>
  
   </div>
   <hr>
  
</nav>

